
<%-include('layouts/head.ejs')%>

<body>

    <!-- Navigation -->
    <%- include('layouts/nav.ejs')%>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

         <%- include('layouts/sidebar.ejs')%>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

               <%- include('layouts/carousel.ejs')%>

                <div class="row">
                  
                     <form action="/users" method="POST">                   
                        <p>
                            <label>Email:</label>
                            <input type="text" name="email"  />
                        </p>
                        <p>
                            <label>Password:</label>
                            <input type="number" name="password"  />
                        </p>                       
                        <button type="submit">Submit</button>
                    </form>              

                </div>
                <!-- /.row -->
    <%- include('layouts/footer.ejs')%>